@model Produtos.Web.Models.Produto
@{
    ViewData["Title"] = "Index";
}
<!--Modais de criação e edição de produtos-->
<div class="modal fade" id="criarProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Novo Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CriarProduto">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Nome do Produto: </label>
                        <input asp-for="NomeProduto" class="form-control" id="nomeProdCriar"/>
                        <span asp-validation-for="NomeProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Quantidade disponível: </label>
                        <input asp-for="QtdeProduto" class="form-control" id="qtdProdCriar"/>
                        <span asp-validation-for="QtdeProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Marca: </label>
                        <input asp-for="MarcaProduto" class="form-control" id="marcaProdCriar"/>
                        <span asp-validation-for="MarcaProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Preço: </label>
                        <input asp-for="PrecoProduto" class="form-control" id="precoProdCriar"/>
                        <span asp-validation-for="PrecoProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Categorias disponíveis: </label>
                        <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId">
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <div class="row text-center" style="padding-left: 15px">
                            <input onclick="VerificarCriacaoProduto()" type="button" class="btn btn-primary" value="Enviar" />
                            <div id="confirmaCriacaoProduto" style="display: none; padding-left: 10px">
                                Tem certeza que deseja criar o produto?
                                <input type="submit" value="Sim" class="btn btn-success" />
                                <input type="button" class="btn btn-danger" value="Não" onclick="FecharCriacaoProduto()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="editProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edição de Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditarProduto">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" id="idProduto" />
                    </div>
                    <div class="form-group">
                        <label>Nome do Produto: </label>
                        <input asp-for="NomeProduto" class="form-control" id="nomeProduto" />
                        <span asp-validation-for="NomeProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Quantidade disponível: </label>
                        <input asp-for="QtdeProduto" class="form-control" id="qtdProduto" />
                        <span asp-validation-for="QtdeProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Marca: </label>
                        <input asp-for="MarcaProduto" class="form-control" id="marcaProduto" />
                        <span asp-validation-for="MarcaProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Preço: </label>
                        <input asp-for="PrecoProduto" class="form-control" id="precoProduto" />
                        <span asp-validation-for="PrecoProduto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Categoria Atual: </label>
                        <input id="categoriasProduto" disabled />
                    </div>
                    <div class="form-group">
                        <label>Categorias disponíveis: </label>
                        <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId">
                            <option value=0 disabled selected>Clique aqui para escolher uma nova categoria</option>
                        </select>
                        <span asp-validation-for="CategoriaId" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <div class="row text-center" style="padding-left: 10px">
                            <input onclick="VerificarEdicaoProduto()" type="button" class="btn btn-primary" value="Enviar" />
                            <div id="confirmaEdicaoProduto" style="display: none; padding-left: 10px">
                                Tem certeza que deseja atualizar o produto?
                                <input type="submit" value="Sim" class="btn btn-success" />
                                <input type="button" class="btn btn-danger" value="Não" onclick="FecharEdicaoProduto()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modais para criação e edição de categorias-->

<div class="modal fade" id="criarCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Nova Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CriarCategoria">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <label>Nome da Categoria: </label>
                        <input asp-for="Categoria.NomeCategoria" class="form-control" id="NomeCat" type=text />
                    </div>
                    <div class="form-group text-center">
                        <div class="row text-center" style="padding-left: 30px">
                            <input onclick="Verificar()" type="button" class="btn btn-primary" value="Enviar" />
                            <div id="confirma" style="display: none; padding-left: 10px">
                                Tem certeza que deseja cadastrar?
                                <input type="submit" value="Sim" class="btn btn-success" />
                                <input type="button" class="btn btn-danger" value="Não" onclick="Fechar()" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditarCategoria">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Categoria.Id" class="control-label"></label>
                        <input type="text" asp-for="Categoria.Id" id="categoriaCod" />
                    </div>
                    <div class="form-group">
                        <label>Nome da Categoria: </label>
                        <input asp-for="Categoria.NomeCategoria" class="form-control" id="categoriaNome" />
                        <span asp-validation-for="Categoria.NomeCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <div class="row text-center" style="padding-left: 30px">
                            <input onclick="VerificarEdicaoCategoria()" type="button" class="btn btn-primary" value="Enviar" />
                            <div id="confirmaEdicaoCategoria" style="display: none; padding-left: 10px">
                                Tem certeza que deseja modificar?
                                <input type="submit" value="Sim" class="btn btn-success" />
                                <input type="button" class="btn btn-danger" value="Não" onclick="FecharEdicaoCategoria()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a href="#tabelaCategoria">Checar categorias</a>
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#criarProduto">
        Criar novos produtos
    </button>
</p>
<table class="table w-100 text-center">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Produtos)
        {
            <div class="modal fade" id="detalhes_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Informações de @item.NomeProduto:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <strong>Nome:</strong> @item.NomeProduto <br />
                            <strong>Quantidade: </strong> @item.QtdeProduto <br />
                            <strong>Marca do Produto: </strong> @item.MarcaProduto <br />
                            <strong>Preço do Produto: </strong> @item.PrecoProduto <br />
                            <strong>Categoria: </strong>  @item.Categoria.NomeCategoria <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deletar_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Deletar Produto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Deseja deletar o produto @item.NomeProduto ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                            <a class="btn btn-danger" asp-action="DeletarProduto" asp-route-id="@item.Id">Sim</a>
                        </div>
                    </div>
                </div>
            </div>

            <tr>
                <td>
                    @item.NomeProduto
                </td>
                <td>
                    @item.Categoria.NomeCategoria
                </td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editProduto" onclick="EditarProduto('@item.Id', '@item.NomeProduto', '@item.QtdeProduto', '@item.MarcaProduto', '@item.PrecoProduto', '@item.Categoria.NomeCategoria')">
                        Editar
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detalhes_@item.Id">
                        Detalhes
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletar_@item.Id">
                        Deletar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--Categorias-->
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#criarCategoria">
        Criar nova categoria
    </button>
</p>
<table class="table w-100 text-center" id="tabelaCategoria">
    <thead>
        <tr>
            <th>Categorias Disponíveis: </th>
            <th>Ações: </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Categorias)
        {
            <div class="modal fade" id="modal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Deletar Categoria</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Deseja deletar o projeto @item.NomeCategoria ? Ao deletar, você estará removendo também todos os produtos
                            com a categoria especificada. Segue a lista dos produtos com a categoria especificada:
                            @foreach (var proj in item.Produto)
                            {
                                <br /> @proj.NomeProduto
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                            <a class="btn btn-danger" asp-action="DeletarCategoriaProduto" asp-route-id="@item.Id">Sim</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="details_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <strong>Nome:</strong> @item.NomeCategoria
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            <tr>
                <td>
                    @item.NomeCategoria
                </td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editCategoria" onclick="EditarCategoria('@item.Id', '@item.NomeCategoria')">
                        Editar
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#details_@item.Id">
                        Detalhes
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_@item.Id">
                        Deletar
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
<script type="text/javascript">
    function Verificar() {
        if (!$('#NomeCat').val()) {
           alert("Erro no cadastro, favor preencher todos os campos.")
        }else{
            $('#confirma').show();
        }
    }
    function Fechar() {
        $('#confirma').hide();
    }
    function EditarCategoria(cod, nome) {
        document.getElementById('categoriaCod').setAttribute('value', cod);
        document.getElementById('categoriaNome').setAttribute('value', nome);
    }

    function EditarProduto(codigo, nome, qtde, marca, preco, categoria){
        document.getElementById('nomeProduto').setAttribute('value', nome);
        document.getElementById('idProduto').setAttribute('value', codigo);
        document.getElementById('qtdProduto').setAttribute('value', qtde);
        document.getElementById('marcaProduto').setAttribute('value', marca);
        document.getElementById('precoProduto').setAttribute('value', preco);
        document.getElementById('categoriasProduto').setAttribute('value', categoria);
    }
    function VerificarEdicaoCategoria(){
        if (!$('#categoriaNome').val()) {
           alert("Erro no cadastro, favor preencher todos os campos.");
        }else{
            $('#confirmaEdicaoCategoria').show();
        }
    }
    function FecharEdicaoCategoria() {
        $('#confirmaEdicaoCategoria').hide();
    }
    function VerificarEdicaoProduto(){
        if(!$('#nomeProduto').val()){
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else if(!$('#qtdProduto').val()){
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else if(!$('#marcaProduto').val()){
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else if(!$('#precoProduto').val())
        {
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else{
            $('#confirmaEdicaoProduto').show();
        }
    }
    function FecharEdicaoProduto(){
        $('#confirmaEdicaoProduto').hide();
    }
    function VerificarCriacaoProduto(){
        if(!$('#nomeProdCriar').val()){
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else if(!$('#qtdProdCriar').val()){
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else if(!$('#marcaProdCriar').val()){
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else if(!$('#precoProdCriar').val())
        {
            alert("Erro no cadastro, favor preencher todos os campos.");
        }
        else{
            $('#confirmaCriacaoProduto').show();
        }
    }
    function FecharCriacaoProduto(){
        $('#confirmaCriacaoProduto').hide();
    }
</script>